*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #191919;
}

.text{
    text-align: center;
    font-family: 'Corben', cursive;
    letter-spacing: 2px;
    font-size: 40px;
    color: white;
    font-weight: 700;
}

.form{
    width: 330px;
    padding-top: 40px;
    padding-bottom: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
    box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
    inset 4px 4px 10px rgba(0, 0, 0, 0.5),
    inset -4px -4px 10px rgba(67, 67, 67, 0.3), 
    4px 4px 10px rgba(0, 0, 0, 0.3);
}

#name{
    border: 0;
    background: none;
    display: block;
    margin: 25px auto;
    text-align: center;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.5s;
    box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
    inset 4px 4px 10px rgba(0, 0, 0, 0.5),
    inset -4px -4px 10px rgba(67, 67, 67, 0.3), 
    4px 4px 10px rgba(0, 0, 0, 0.3);
    font-family: 'Righteous', cursive;
    letter-spacing: 3px;
}

#name:focus{
    width: 280px;
    box-shadow: -4px -4px 10px rgba(0, 255, 13, 0.5),
    inset 4px 4px 10px rgba(0, 0, 0, 0.5),
    inset -4px -4px 10px rgba(67, 67, 67, 0.3), 
    4px 4px 10px rgba(13, 252, 172, 0.3);
}

#password{
    border: 0;
    background: none;
    display: block;
    margin: 25px auto;
    text-align: center;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.5s;
    box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
    inset 4px 4px 10px rgba(0, 0, 0, 0.5),
    inset -4px -4px 10px rgba(67, 67, 67, 0.3), 
    4px 4px 10px rgba(0, 0, 0, 0.3);
    font-family: 'Righteous', cursive;
    letter-spacing: 3px;
}

#password:focus{
    width: 280px;
    box-shadow: -4px -4px 10px rgba(0, 255, 13, 0.5),
    inset 4px 4px 10px rgba(0, 0, 0, 0.5),
    inset -4px -4px 10px rgba(67, 67, 67, 0.3), 
    4px 4px 10px rgba(13, 252, 172, 0.3);
}


.btn{
    width: 100px;
    padding: 10px;
    border-radius: 24px;
    transition: 0.5s;
    box-shadow: -4px -4px 3px rgba(67, 67, 67, 0.5),
    2px 2px 10px rgba(0, 0, 0, 0.5),
    -2px -2px 10px rgba(67, 67, 67, 0.3), 
    4px 4px 10px rgba(0, 0, 0, 0.3);  
    outline: none;
    border: none;
    background: none;
    color: rgb(118,118,118);
    font-family: 'Righteous', cursive;
    letter-spacing: 2px;
    font-weight: 600;
}

.btn:hover{
    color: white;
    /* box-shadow: -4px -4px 7px rgba(67, 67, 67, 0.5),
    7px 7px 10px rgba(0, 0, 0, 0.5),
    -7px -7px 10px rgba(67, 67, 67, 0.3), 
    4px 4px 10px rgba(0, 0, 0, 0.3);   */
    box-shadow: -4px -4px 10px rgba(0, 255, 13, 0.5),
    inset 4px 4px 10px rgba(0, 0, 0, 0.5),
    inset -4px -4px 10px rgba(67, 67, 67, 0.3), 
    4px 4px 10px rgba(13, 252, 172, 0.3);
}